{% extends "base.html" %}
{% block content %}
<div class='post'>
    <a name="{{ article.slug }}"></a>
    <h1 class='post-title'><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a></h1>
    <div class="post-prose">{{ article.content }}</div>
</div>
<div class='post-footer'>
    <div class='post-timestamp'>
        Posted by {% for author in article.authors %}{{author}}{% endfor %} at
        <abbr class='published' title='{{ article.date.isoformat() }}'>
            {{ article.locale_date}}
        </abbr>
    </div>

    <div class='post-labels'>Labels:
{% for tag in article.tags %}
        <a href='{{ SITEURL }}/{{ tag.url }}' rel='tag'>{{ tag.name }}</a>,
{% endfor %}
    </div>
</div>

{% if DISQUS_SITENAME %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    var disqus_url = '{{ SITEURL }}/{% if article.disqus %}{{ article.disqus }}{% else %}{{ article.url }}{% endif %}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% endblock %}
