body {
	background: #cfcfcf;
	font-size: small;
	font-family: 'Marmelad', sans-serif;
}

/* @media (min-width: 768px) { */
#wrapper {
	background: #ffffff;
	width: 900px;
	margin: 5px auto;
	padding-top: 5px;
	border-radius: 10px;
}

#header {
	background: #cfcfcf;
	margin: 0px 5px;
	height: 140px;
	color:#cccccc;
	border-radius: 10px;
}

#header img {
	float: left;
	margin-right: 20px;
}

#header .title {
	margin: 0px;
	padding-top: 20px;
	padding-left: 10px;
	text-transform:capitalize;
	font-family:'Squada One', cursive;
	font-size: 300%;
	color:#fafafa;
}

#header .description {
	margin: 0px 20px;
	padding-top: 5px;
	padding-left: 180px;
	color: #222222;
	letter-spacing: 0.1em;
}

#navigation {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	color: #111111;
}

.nav-section {
	background: #cfcfcf;
	margin: 5px 0px;
	padding: 8px 8px 20px 8px;
	border-radius: 10px;
}

.nav-section .nav-title {
	font-size: 90%;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #FC7676;
}

.nav-section ul {
	margin: 15px 0 0 0;
	list-style:none;
}

a:link {
color:#3D81EE;
text-decoration:none;
}
a:visited {
text-decoration:none;
}
a:hover {
color:#aa5557;
text-decoration:underline;
}
a img {
border-width:0;
}

#content {
	width: 680px;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	font-size: medium;
}

.post .post-title {
	margin: 5px;
}

.post .post-prose {
	margin: 10px;
}

.post-footer {
	margin-left: 20px;
	color: #aaaaaa;
	font-size: 70%;
	font-weight: bold;
	text-transform: uppercase;
}

.clear {
	clear:both;
}

#disqus_thread {
	margin: 20px;
}
